body {
  display: grid;
  background-image: url('../fondo-abstracto-technologico-lineas-conectividad_1048-5570.jpg');
  background-size:cover;
  grid-template-columns: 15% 70% 15%;
}
#contenido{
  display: grid;
  grid-template-areas:'cabecera cabecera cabecera cabecera'
                      'navegacion navegacion navegacion navegacion'
                      'texto texto texto lateral'
                      'texto texto texto lateral'
                      'pie pie pie pie';
  grid-column-start: 2;
  background-color: rgb(2, 11, 22);
  opacity: 80%;
  color: white;
  border: #0fa7ff 0.7vw solid;
  border-radius:5%;
  border-style: double;
}
main{
  grid-area: texto;
}
aside{
  grid-area: lateral;
}
main h2{
  font-family: Patua One;
  text-align: center;
  font-size: 2.5vw;
  text-shadow: 2px 2px #0fa7ff;
}
main h3{
  font-family: Patua One;
  font-size: 1.5vw;
  text-shadow: 2px 2px #ff830f;
}
header{
  display: grid;
  grid-area: cabecera;
  grid-template-columns: '25% 25% 25% 25%';
}
h1#titulo{
  grid-column: 1;
  font-family: Patua One;
  font-size: 3vw;
  text-align: right;
  text-shadow: 2px 2px #ff830f;
}
h1#bienvenida{
  grid-column: 4;
  font-family: Patua One;
  font-size: 3vw;
  text-align: left;
  text-shadow: 2px 2px #ff830f;
}
img#logo{
  grid-column: 2;
  text-align: center;
  margin-left: 5%;
}
header hr{
  grid-column: 3;
}
nav{
  grid-area: navegacion;
}
nav ul{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: #ff830f;
  list-style: none;
  text-align: center;
  padding-right: 5%;
  padding: 1.5%;
}
#uno{
  grid-column: 1;
}
#dos{
  grid-column: 2;
}
#tres{
  grid-column: 3;
}
nav ul li a:link, nav ul li a:visited{
  background-color: #ff830f;
  color: black;
  font-family: Patua One;
  font-weight: bold;
  font-size: 1vw;
  padding: 5% 6%;
  padding-bottom: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
nav ul li a:hover, nav ul li a:active{
  background-color: #0fa7ff;
  opacity: 30%;
  font-family: Patua One;
  font-size: 1vw;
  padding: 5% 6%;
  padding-bottom: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
main{
  grid-area: texto;
  padding: 2%;
}
main p{
  font-family: B612 Mono;
  font-size: 0.9vw;
}
footer{
  grid-area: 5/2/5/5;
  margin: 2%;
}
textarea{
  width: 100%;
  height: 14vw;
  box-sizing: border-box;
  font-size: 0.9vw;
  border-radius: 5%;
}
form{
  font-family: B612 Mono;
  font-size: 0.9vw;
}
fieldset{
  border-style: none;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 10%;
}
input[type=date]{
  width:20%;
  height: 2vw;
  border-style: none;
  background-color: #0fa7ff77;
  color: white;
  font-weight: bold;
  font-family: B612 Mono;
  font-size: 0.9vw;
  text-align: center;
  border-radius: 15%;
}
select{
  width:26%;
  height: 2vw;
  border-style: none;
  background-color: #ff830f6b;
  font-family: B612 Mono;
  font-weight: bold;
  font-size: 0.9vw;
  text-align: center;
  border-radius: 15%;
}
option{
  font-family: B612 Mono;
  font-weight: bold;
  font-size: 0.9vw;
  text-align: center;
}
legend{
  font-family: Patua One;
  font-size: 1.5vw;
  text-shadow: 2px 2px #0fa7ff; 
}
input[type=submit]{

}
input[type=reset]{

}
footer p sub{
  font-family: B612 Mono;
  font-weight: bold;
  font-size: 0.9vw;
}